---

---

<section id="about">
	<h1>About Me</h1>

	<div class="about-desc">
		<ul>
			<li>
				Currently a <b>Software Engineer</b> at <a
					href="https://ubs.com"
					target="_blank"
					rel="noreferrer">UBS</a
				>.
			</li>
			<li>
				Experienced in <b>Backend</b>, <b>Frontend</b>, and <b>Mobile</b
				> development.
			</li>
			<li>
				Enjoys building scalable web and mobile products, and working
				with modern cloud infrastructure.
			</li>
			<li>
				Active in the tech community, speaker at meetups, and published
				author.
			</li>
		</ul>
	</div>

	<h2>Skills</h2>
	<div class="about-desc">
		<ul>
			<li>
				<b>Languages:</b> Dart, Java, Kotlin, SQL, JavaScript, TypeScript,
				Golang, HTML, CSS
			</li>
			<li>
				<b>Technologies:</b> Flutter, Angular, Node.js, React.js, Next.js
			</li>
		</ul>
	</div>
</section>

<style>
	#about {
		height: 100vh;
	}

	.about-desc {
		color: wheat;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 60%;
		line-height: 1.6em;
		font-size: 1.25vw;
	}

	.about-desc b {
		color: var(--material-white);
	}

	.about-desc a {
		font-weight: bold;
	}

	@media screen and (max-width: 900px) {
		#about h2 {
			font-size: 2.5vh;
		}

		.about-desc {
			width: 85%;
			font-size: 2.2vh;
		}
	}
</style>
