---
import { getCollection } from "astro:content";
import CardsWrapper from "../card/CardsWrapper.astro";
import ProjectCard from "../card/ProjectCard.astro";

const projects = await getCollection("projects");
---

<section id="projects">
	<h1>Projects</h1>

	<CardsWrapper>
		{
			projects.map((item) => (
				<ProjectCard
					name={item.data.name}
					tags={item.data.tags}
					image={item.data.image}
					links={item.data.links ?? []}
					description={item.data.description}
				/>
			))
		}
	</CardsWrapper>
</section>
