---
import CardsWrapper from "../card/CardsWrapper.astro";
---

<section id="talks">
	<h1>Talks</h1>

	<CardsWrapper>
		<div class="card">
			<img
				width="100%"
				height="80%"
				loading="lazy"
				src="images/mwc-server-side-dart.jpg"
				alt="Mumbai Women Coders November'22 Meetup"
			/>
			<div class="info">
				<div class="name">Mumbai Women Coders November'22 Meetup</div>
				<div class="description">
					<a
						href="https://1drv.ms/p/s!Ai1OliGaJWO-4BkJPPQdQUXfPDm3?e=NYPj74&nav=eyJzSWQiOjI5NiwiY0lkIjoyMTMxNjY5NDEwfQ"
						target="_blank"
						rel="noopener noreferrer">Server-Side Dart</a
					>
					<ul>
						<li>
							Talked about the potential of use of Dart on server
							side and compared performance benchmarks.
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="card">
			<img
				width="100%"
				height="80%"
				loading="lazy"
				src="images/devs-flutter-talk-min.webp"
				alt="TSEC Developers Club Flutter Flow"
			/>
			<div class="info">
				<div class="name">TSEC Dev's Club Flutter Flow</div>
				<div class="description">
					<p>Dart and Flutter basics</p>
					<ul>
						<li>
							Took a Dart and Flutter basics workshop where
							attendee created a bill split application from
							scratch.
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="card">
			<iframe
				width="100%"
				height="80%"
				src="https://www.youtube.com/embed/2L09M_DwstE"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
			<div class="info">
				<div class="name">Flutter and Dart Basics - CodeVengers</div>
			</div>
		</div>
	</CardsWrapper>
</section>

<style>
	.card {
		background-color: var(--material-black);
		padding: 1em;
		border: 1px solid white;
		border-radius: 5px;
	}

	.card ul {
		padding-left: 20px;
	}

	.card img {
		width: 100%;
		height: 200px;
		object-fit: contain;
		margin-bottom: 1em;
		border-radius: 5px;
	}

	.name {
		margin-bottom: 1em;
		font-weight: bold;
		font-size: 20px;
		font-size: clamp(18px, 2vw, 20px);
	}

	.description,
	.links {
		margin-bottom: 1em;
		line-height: 1.4em;
		font-size: 16px;
		font-size: clamp(15px, 2vw, 17px);
	}

	.links i {
		text-decoration: none;
	}

	.links a:hover {
		color: var(--accent-color);
	}

	.years {
		background-color: #4242425e;
		width: fit-content;
		padding: 0.4em 1em;
		margin-right: 0.5em;
		margin-top: 0.5em;
		border-radius: 1em;
		line-height: 1.5em;
	}

	.info .description {
		margin-bottom: 2em;
	}

	@media screen and (max-width: 900px) {
		.description,
		.links {
			margin-bottom: 1em;
			line-height: 1.4em;
			font-size: 1.9vh;
		}
	}
</style>
