---

---

<div class="cards-wrapper">
	<slot />
</div>

<style>
	.cards-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 2em;
		padding: 2em 0 5em 0;
		align-items: stretch;
		width: 80%;
	}

	@media screen and (max-width: 900px) {
		.cards-wrapper {
			width: 90%;
		}
	}
</style>
