* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

:root {
    --accent-color: #88d3ff;
    --material-black: #121212;
    --material-white: #ffffff;
    --shape-color: #222222;
}

html {
    scroll-behavior: smooth;
}

a {
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

h1 {
    font-size: 2.2vw;
}

/* Scroll bar */

body::-webkit-scrollbar {
    width: 0.7em;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--shape-color);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #757575;
}

/* Main CSS */

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--material-black);
}

a:hover {
    color: var(--accent-color);
}

.site {
    display: flex;
    flex-direction: row;
}

.contact-block {
    display: flex;
    width: 10%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 3%;
}

.menu {
    display: none;
}

.contact i {
    padding: 40% 20%;
    font-size: 2.2vw;
    transition: transform 0.3s ease-in, color 0.2s ease-in;
}

.contact a {
    transform: translateX(-10vw);
    animation: 1s ease-in 1 slide forwards;
    animation-delay: calc(var(--animation-pos) * 100ms);
}

.contact-line {
    position: fixed;
    background-color: white;
    width: 1.5px;
    top: 0;
    bottom: 0;
    left: 4%;
    animation: 0.8s ease-in 0s 1 topToBottomLine;
}

.navbar {
    width: 20%;
}

.navbar-list {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    list-style: none;
    padding: 10px;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.navbar li a {
    font-size: 1.2vw;
    display: block;
    text-decoration: none;
    transform: translateX(10vw);
    transition: transform 0.3s ease-in, color 0.2s ease-in;
    animation: 1s ease-in 1 slide forwards;
    animation-delay: calc(var(--animation-pos) * 100ms);
}

.nav-bar li a:hover,
.contact i:hover {
    color: var(--accent-color);
    transform: translateY(-5px) scale(1.1);
}

/* Content */


#home {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#home h1 {
    font-size: 5vw;
    line-height: 1vw;
}

#home h2 {
    font-size: 2vw;
}

#home img {
    width: 30%;
    border-radius: 50%;
}

#about,
#experience,
#projects,
#talks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about {
    height: 100vh;
}

.about-desc {
    color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    line-height: 1.6em;
    font-size: 1.25vw;
}

.about-desc b {
    color: var(--material-white);
}

.about-desc a {
    font-weight: bold;
}

h3 {
    margin-bottom: 0px;
}

#talks {
    width: 100%;
}

@keyframes slide {
    100% {
        transform: translateX(0vw) translateY(0);
    }
}

@keyframes topToBottomLine {
    0% {
        bottom: 100vh;
    }

    100% {
        bottom: 0px;
    }
}

.fade {
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 0.3s ease-in, transform 0.5s ease-in;
}

.fade.appear {
    opacity: 1;
    transform: translateY(0%);
}


/* PROJECTS */

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    padding: 2em 0 5em 0;
    align-items: stretch;
    width: 80%;
}

.card {
    background-color: var(--material-black);
    padding: 1em;
    border: 1px solid white;
    border-radius: 5px;
}

.card ul {
    padding-left: 20px;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 5px;
}

.name {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 20px;
    font-size: clamp(18px, 2vw, 20px);
}

.description,
.links {
    margin-bottom: 1em;
    line-height: 1.4em;
    font-size: 16px;
    font-size: clamp(15px, 2vw, 17px);
}

.links i {
    text-decoration: none;
}

.links a:hover {
    color: var(--accent-color);
}

.project-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5em 1em 1em 0;
}

.project-tag {
    background-color: #4242425e;
    width: fit-content;
    padding: 0.4em 1em;
    margin-right: .5em;
    margin-top: .5em;
    border-radius: 1em;
    line-height: 1.5em;
}

.info .description {
    margin-bottom: 2em;
}

.quote {
    display: block;
    margin-bottom: 5vh;
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: normal;
    text-align: center;
}

/* Background shapes */
.rrect {
    z-index: -1;
    position: fixed;
    width: 22vw;
    height: 22vw;
    outline-style: solid;
    outline-width: 1.5vw;
    outline-color: var(--shape-color);
    border-radius: 25%;
}

.rrect1 {
    top: -8vw;
    left: 0;
    transform: rotateZ(30deg);
}

.rrect2 {
    bottom: -20vh;
    left: 30vw;
    transform: rotateZ(-10deg);
}

.rrect3 {
    top: -20vh;
    right: 10vw;
    transform: rotateZ(-35deg);
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 3.2vh;
    }

    .site {
        flex-direction: column;
    }

    .contact-line {
        display: none;
    }

    #home {
        padding: 0 10%;
        flex-direction: column-reverse;
    }

    #home h1 {
        font-size: 5vh;
        line-height: 1vw;
    }

    #home h2 {
        font-size: 2.2vh;
    }

    #home img {
        width: auto;
        height: 40%;
        border-radius: 50%;
    }

    .about-desc {
        width: 85%;
        font-size: 2.2vh;
    }

    .description,
    .links {
        margin-bottom: 1em;
        line-height: 1.4em;
        font-size: 1.9vh;
    }

    .project-tag {
        font-size: 2vh;
    }

    .cards-wrapper {
        width: 90%;
    }

    .menu {
        font-size: 1.2vw;
        display: block;
        text-decoration: none;
        color: white;
        transform: translateY(10vh);
        transition: transform 0.3s ease-in, color 0.2s ease-in;
        animation: 1s ease-in 1 slide forwards;
        animation-delay: calc(var(--animation-pos) * 100ms);
    }

    .contact {
        z-index: 2;
        flex-direction: row;
        background-color: rgb(38, 38, 38);
        justify-content: space-evenly;
        width: 100%;
    }

    .contact i {
        font-size: 4vh;
        transition: transform 0.3s ease-in, color 0.2s ease-in;
    }

    .contact a {
        transform: translateY(10vh);
    }

    .navbar-list {
        z-index: 1;
        background-color: rgb(19, 19, 19);
        top: auto;
        bottom: 7vh;
        width: 100%;
        justify-content: end;
        align-items: center;
        color: white;
        margin: 0;
        transform: translateY(40vh);
    }

    .navbar li a {
        width: 100%;
        font-size: 3vh;
        padding: 10% 0;
        display: block;
        text-decoration: none;
        color: white;
        transform: none;
    }

    .navbar-list.open {
        transform: translateY(40vh);
        animation: .8s ease-in 1 slide forwards;
    }

    .nav-bar li a:hover,
    .contact i:hover {
        color: white;
        transform: none;
    }

    .rrect {
        z-index: -1;
        width: 30vw;
        height: 30vw;
        outline-width: 1.5vh;
        border-radius: 25%;
    }

    .rrect1 {
        top: -8vh;
        left: 0;
        transform: rotateZ(30deg);
    }

    .rrect2 {
        bottom: -0vh;
        left: 30vw;
        transform: rotateZ(-10deg);
    }

    .rrect3 {
        top: 30vh;
        right: 0vw;
        transform: rotateZ(-35deg);
    }
}