---
import "../styles/styles.css";

const site = Astro.site!.href;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="I'm a Software developer from Mumbai. Mostly work with mobile and backend technologies"
		/>

		<!-- Twitter meta -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Darshan Rander (@SirusTweets)" />
		<meta name="twitter:site" content="@SirusTweets" />
		<meta name="twitter:creator" content="@SirusTweets" />
		<meta
			name="twitter:description"
			content="I'm a Software developer from Mumbai. Mostly work with mobile and backend technologies"
		/>
		<meta
			property="twitter:image"
			content=`${site}/images/og-twitter.png`
		/>

		<!-- Facebook meta -->
		<meta
			name="keywords"
			content="darshan rander, darshan, backend, speaker, Go, React, Angular, otc, our tech community"
		/>
		<meta name="author" content="Darshan Rander" />
		<meta property="og:site_name" content="Darshan Rander" />
		<meta property="og:title" content="Darshan Rander" />
		<meta property="og:type" content="website" />
		<meta
			property="og:description"
			content="I'm a Software engineer who enjoys solving problems."
		/>
		<meta property="og:url" content={site} />
		<meta property="og:image" content={`${site}/images/og-general.png`} />

		<title>Darshan Rander</title>

		<!-- Favicon -->
		<link
			rel="apple-touch-icon"
			sizes="57x57"
			href="icons/apple-icon-57x57.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="60x60"
			href="icons/apple-icon-60x60.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="72x72"
			href="icons/apple-icon-72x72.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="icons/apple-icon-76x76.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="icons/apple-icon-114x114.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="icons/apple-icon-120x120.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="144x144"
			href="icons/apple-icon-144x144.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="152x152"
			href="icons/apple-icon-152x152.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="icons/apple-icon-180x180.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/android-icon-192x192.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="icons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="96x96"
			href="icons/favicon-96x96.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="icons/favicon-16x16.png"
		/>
		<link rel="manifest" href="icons/manifest.json" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta
			name="msapplication-TileImage"
			content="icons/ms-icon-144x144.png"
		/>
		<meta name="theme-color" content="#ffffff" />

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
		</style>
		<link rel="stylesheet" href="static/styles.css" />
	</head>

	<body>
		<div class="site">
			<slot />
			<div class="background-shapes">
				<div class="rrect rrect1"></div>
				<div class="rrect rrect2"></div>
				<div class="rrect rrect3"></div>
			</div>
		</div>
	</body>
</html>
